---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.css";
import { Analytics } from "@vercel/analytics/react";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Empower Digital Solutions - Custom Web Development & Digital Strategy",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/jpeg" href="/favicon.jpg" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="theme-color" content="#8b5cf6" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<!-- <ClientRouter /> -->
	</head>
	<body
		class="font-body text-gray-900 bg-gray-50 flex flex-col min-h-screen overflow-x-hidden"
	>
		<Header />
		<main class="grow">
			<slot />
		</main>
		<Footer />
		<Analytics />
	</body>
</html>
